<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
   <h1> pagina de login</h1>
    <form action="/login" method='post'>

        <label> nome</label>
        <input type="text" name="nome" id="nome" placeholder="digite seu nome de usuario"></input> <br>
        
        <label> senha </label> 
        <input name="senha" id="nome" type="password" placeholder="digite sua senha"></input>
        
        <button type="submit">enviar</button>

    </form>
</body>
</html>